<div id="place" class="place">
    <div id="place-container" class="place-container">
        <!-- #viewer is used to control zooming. -->
        <div id="place-viewer" class="place-viewer">
            <!-- #camera is used to control camera positioning --> 
            <div id="place-camera" class="place-camera">
                <canvas id="place-canvasse" class="place-canvas"></canvas>
            </div>
        </div>
        <!-- This will be a holding container for swatches generated in js -->
        <div id="place-palette" class="place-palette">
            <button id="place-mute-button" class="place-mute-button"></button>
            <button id="place-zoom-button" class="place-zoom-button"></button>
        </div>
        <!-- This will be used to display information about specific tiles -->
        <div id="place-inspector" class="place-inspector">
        </div>
    </div>
    <!-- This will be the cursor element that displays the current color -->
    <div id="place-hand" class="place-hand">
        <div id="place-hand-swatch" class="place-hand-swatch"></div>
    </div>
</div>
