.place-container {
    // TODO webkit
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: #ddd;
}

.place-canvas {
    margin: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges; /* so crisp */
    image-rendering: pixelated;
    background-color: white;
    transform-origin: center;
    transform: scale(2, 2);
}
