.place {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.place-embed {
    margin: 0;
}

.place-container {
    // TODO webkit
    align-items: center;
    background-color: #ddd;
    display: flex;
    height: 500px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    // TODO - remove
    // outline: solid yellow;
}

.place-viewer {
    transform-origin: center;
    // TODO - remove
    // outline: dotted red;
}

.place-camera {
    cursor: pointer;
    transform-origin: center;
}

.place-canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges; /* so crisp */
    image-rendering: pixelated;
    background-color: white;
    pointer-events: none;
    transform: translate(-.5px, -.5px);
    // TODO - remove
    // outline: dashed green;
}

.place-camera:active {
    cursor: -webkit-grab;
}

// This will be the thing for when you're holding a tile.
// But that isn't implemented yet.  So it's just a comment.
// cursor: -webkit-grabbing;

.place-palette {
    background: #111111;
    bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
    left: 0;
    padding: 5px;
    position:absolute;
    text-align: center;
    width: 100%;
}

.place-palette > * {
    display: inline-block;
    height: 30px;
    vertical-align: top;
    width: 30px;
}

.place-molly-guard {
    background-color: rgba(0, 0, 0, .6);
    background-image: data-uri('../place_icon_unlocked.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 41px;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 100%;

    &.place-locked {
        background-image: data-uri('../place_icon_locked.png');
        opacity: 1;
    }
}


.place-hand {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.place-hand-swatch {
    display: block;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.place-inspector {
    background: white;
    border: 1px solid #eeeeee;
    bottom: 60px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    display: none;
    font-size: 14px;
    padding: 20px;
    position: absolute;
}

.place-mute-button,
.place-zoom-button {
    background-color: rgba(0, 0, 0, .6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border-radius: 50%;
    border: none;
    height: 40px;
    outline: none;
    position: absolute;
    top: 10px;
    width: 40px;
}

.place-zoom-button {
    background-image: data-uri('../place_icon_zoom_out.png');
    right: 10px;

    &.place-zoomed-out {
        background-image: data-uri('../place_icon_zoom_in.png');
    }
}

.place-mute-button {
    background-image: data-uri('../place_icon_audio_off.png');
    left: 10px;

    &.place-muted {
        background-image: data-uri('../place_icon_audio_on.png');
    }
}

.place-timer {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    top: 10px;
}
